<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.dao.UserMapper" >


  <resultMap id="UserResultMap" type="consumer" >
    <id column="ID" property="id" />
    <result column="USERNAME" property="username" />
    <result column="PASSWORD" property="password" />
    <result column="status" property="status"/>
  </resultMap>
  
  
  <sql id="Base_Column_List" >  
    ID, USERNAME, PASSWORD,status
  </sql>
  
  <select id="selectByUsername" resultMap="UserResultMap" parameterType="java.lang.String" >   
    select 
    <include refid="Base_Column_List"/>
    from user
    where username = #{0}
  </select>
  
  
<!--   <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >  
    delete from PERSON
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  
  
  <insert id="insert" parameterType="com.chinasofti.model.person" >  
    insert into PERSON (ID, USERNAME, PASSWORD
      )
    values (#{id,jdbcType=DECIMAL}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chinasofti.model.person" > 
    insert into PERSON
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinasofti.model.person" >  
    update PERSON
    <set >
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinasofti.model.person" >  
    update PERSON
    set USERNAME = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update> -->
</mapper>