<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.dao.UserMapper">


	<resultMap id="UserResultMap" type="User">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />		
	</resultMap>

	<select id="login" resultMap="UserResultMap">
		select username ,password from user
		<where> username=#{username} and password=#{password}</where>
	</select>
	
	<select id="selectByUsername" resultMap="UserResultMap" parameterType="java.lang.String">
		select * from user where username = #{0}
	</select>
</mapper>