<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.dao.UserMapper">


	<resultMap id="UserResultMap" type="User">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
	</resultMap>
	
	<resultMap id="EUserResultMap" type="Enterprise">
		<id column="enterpriseId" property="enterpriseId" />
		<result column="Membership" property="membership" />
		<result column="enterprisename" property="enterprisename" />
		<result column="enterprisepwd" property="enterprisepwd"/>
	</resultMap>

	<select id="login" resultMap="UserResultMap">
		select username ,password from user
		<where> username=#{username} and password=#{password}</where>
	</select>

	<select id="selectByUsername" resultMap="UserResultMap"
		parameterType="java.lang.String">
		select * from user where username = #{0}
	</select>

	<insert id="insertRegister" parameterType="com.chinasofti.model.User">
		insert into user
		(id,username,password )
		values
		( #{id},#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR})
	</insert>
	
	<select id="selectByenterprisename" parameterType="java.lang.String" resultType="java.lang.String">
		select enterpriseId from enterprise where enterprisename = #{0}
	</select>
	
	<select id="selectBymembership" parameterType="java.lang.String" resultType="java.lang.String">
		select enterpriseId from enterprise where Membership = #{0}
	</select>
	
	<insert id="insertenterprise" parameterType="com.chinasofti.model.Enterprise">
		insert into enterprise values(#{enterpriseId},#{membership},#{enterprisename},#{enterprisepwd})
	</insert>
	
	<insert id="insertcompany" parameterType="java.lang.String">
		insert into company(Membership,companyName,companyLocation) values(#{0},#{1},#{2})
	</insert>
	
	<select id="selectByEUsername" parameterType="java.lang.String"  resultMap="EUserResultMap">
		select * from enterprise where enterprisename = #{enterprisename}
	</select>
	
	
	
	
	
</mapper>